<footer>
    <hr>
    <h4>
        Copyright 2021
    </h4>
    <p>@Let's cook
                    <a href="./about">About</a>
                    <a href="./contact">Contact</a>
    </p>
</footer>