   
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="public/stylesheets/index.css">
  <title>About</title>
</head>


<body>
  <%- include('./partials/header.ejs'); -%>
    <h1>About Us</h1>
    <p>Let's Cook is a event focused group centered around cooking. Cooking is a really diverse and broad words and we are ready to embrace it all!
        At Let's Cook we offer a wide range of courses taught by some great instructors. We offer classes ranging from vegetarian cooking,
        getting ready for the perfect barbeque, baking (anything from cookies, pies, cakes, cupcakes, brownies, and more), japanese cuisine and much, much more! </p>
  <%- include('./partials/footer.ejs'); -%>
</body>

</html>