<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/index.css">
</head>

<body>
    <%- include('./partials/header.ejs'); -%>
<main>
    <h2>
        Welcome to Let's Cook!
    </h2>
    <p>
        Let's Cook is a event focused group centered around cooking. Cooking is a really diverse and broad words and we are ready to embrace it all!
        At Let's Cook we offer a wide range of courses taught by some great instructors. We offer classes ranging from vegetarian cooking,
        getting ready for the perfect barbeque, baking (anything from cookies, pies, cakes, cupcakes, brownies, and more), japanese cuisine and much, much more!
    <p>
    <br>
    <p>
        We also host a multitude of cooking challeneges with great rewards. Some of most popular and better known challeneges include 60 cupcakes in 60 minutes,
        superbowl cookout, the perfect sandwich and so much more. With these great challenges come great rewards! We offer gift cards, vacation vouchers, free classes,
        and many more surprises! Explore more today.
    </p>
    <br>
    <p>
        To learn more about Let's cook explore our website, sign up for events, stop by and say hi! We offer free trials, discounts and more!
        Feel free to reach out and connect to us! We would love for you to start cooking with us!
    </p>
</main>
    <%- include('./partials/footer.ejs'); -%>
</body>

</html>
